   body  { font-family: 'NanumBarunGothic', sans-serif; }
  table {
    width: 100%;

    border-collapse: collapse;
  }
  th, td {
     border: 1px solid rgb(223, 223, 223); 
    padding: 10px;
    font-weight: 400
  }
  .article{
    background-color: rgb(245, 245, 245); 
    padding-left: 20px;
    color :rgb(70, 70, 70);
    width:150px;
    font-size: 0.9em;
  }
  form{
    margin: 0 25%;
  }
  input[type="text"] , input[type="password"],input[type="email"]{
      height: 30px;
      margin : 3px 0 ;
      width: 200px;
  }

  #PWchkForm > #joinTable{
    border: 1px #ccc red;
    outline: 1px #ccc red;
  }
  #h1{
    color: #ff8800;
    font-size: 50px;
    font-family: 'NanumSquare', sans-serif; 
    font-weight: 800;

  }
  form > #chkBtn,
  #PWmodifyForm > #chkBtn{
    text-align: right;
  }
  #cont{
    padding-top:20px;
    font-size: 20px;
    font-weight: 500;
  }
  #sample6_address , #sample6_detailAddress{
    width: 400px;
  }
  ::placeholder{
    font-size: 0.8em;
    padding-left: 10px;
  }
  span.ast{
    color:#ff8800;
  }
  span#msg{
    font-size: 0.9em;
    float: right;
    display: block;
    padding-top:50px;

  }
  #tipbox{
    background-color:  rgb(245, 245, 245); 
    padding:30px 30px;
    margin:20px 0px;
    border-top: #ccc 4px solid;
  }
  #tipboxH{
    font-size: 30px;
    font-weight: 400;
    font-family: 'NanumSquare', sans-serif;
     
  }
 
  @media screen and (max-width:768px) {
    th{
    border:none;
    display: block;
  }
  td{
    display: list-item;
    list-style: none;


  }
  .article{
    background-color: rgb(255, 255, 255); 
    padding-left: 20px;
    color :rgb(70, 70, 70);
    width:150px;
    font-size: 0.9em;
  }
  textarea#contC{
    width:308px;
  }
  #PWchkForm,
  #PWmodifyForm{
    margin: 0 2%;
  }
	#PWchkForm > #chkBtn
  #joinHeader , #PWmodifyForm > #chkBtn{
    margin-top: 20px;
    text-align: center;
  }
  .btn{
    width:100px;
  }
  #tipboxH{
    text-align: center;
  }
  input[type="password"]{
      height: 30px;
      margin : 3px 0 ;
      width: 100%;
      border:none;
  }
  
   form > #tipbox{
    padding : 15px;
   }
   form > #tipbox > ul {
    padding : 0px 10px;
  }
   form > #tipbox > ul >li {
    padding : 5px 0px;
  }
  }

